@font-face {
  font-family: "Pudelinka";
  src: url("Fonts/pudelinka.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #D28cb4;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px dotted black;
  padding: 10px;
  font-family: sans-serif;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

blockquote.q {
  color: #D4AF67;
  border-left: 4px solid #8B0000;
  font-style: italic;
}

p.quote {
  font-family: "Pudelinka", cursive;
}

/* СНЕЖИНКИ */
.snowflake {
  position: absolute;
  top: -20px;
  color: #fff;
  font-size: 1.2em;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  user-select: none;
  z-index: 1;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(105vh) rotate(360deg);
  }
}

